name: release

on:
  pull_request:
    branches: [ main ]
    types: [ closed ]

jobs:

  create-build-push:

    if: github.event.pull_request.merged == true

    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v2

      # https://github.com/anothrNick/github-tag-action
      - name: Bump version and push tag
        id: bump_version
        uses: anothrNick/github-tag-action@1.36.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true

      # https://github.com/heinrichreimer/action-github-changelog-generator
      - name: Generate release changelog
        id: generate_release_changelog
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          onlyLastTag: "true"
          stripHeaders: "true"
          stripGeneratorNotice: "true"

      # https://github.com/softprops/action-gh-release
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.bump_version.outputs.tag }}
          name: Release ${{ steps.bump_version.outputs.tag }}
          body: ${{ steps.generate_release_changelog.outputs.changelog }}
          draft: false
          prerelease: false
